@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.glass-canvas {
    width: 100%;
    height: 100%;
}

.glassLogo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 8px 18px;
    backdrop-filter: blur(2.7px);
    border-radius: 8px;
}
