@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "BgTextFontFamily";
    src: url("./Sahitya-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.glassEffectContainer {
    margin-inline: 50px;
    position: relative;

    p {
        font-family: "BgTextFontFamily", sans-serif;
        font-size: 30px;
    }

    .glassLogo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        overflow: hidden;
        display: flex;

        .blurPlate {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(3px);
            filter: url(#myglass);
            isolation: isolate;
        }

        .mainLogoContent {
            z-index: 10;
            display: flex;
            align-items: center;
            font-family: "Montserrat", sans-serif;
            gap: 8px;
            padding: 8px 18px;

            font-weight: 700;
        }
    }
}
