body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;

    #root {
        height: 100%;
        main {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: 100%;
        }
    }
}
